[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brainflowprobes"]
	path = brainflowprobes
	url = https://github.com/lieberinstitute/brainflowprobes
[submodule "megadepth"]
	path = megadepth
	url = https://github.com/lieberinstitute/megadepth
[submodule "qsvaR"]
	path = qsvaR
	url = https://github.com/lieberinstitute/qsvar
[submodule "recount3"]
	path = recount3
	url = https://github.com/lieberinstitute/recount3
[submodule "TREG"]
	path = TREG
	url = https://github.com/lieberinstitute/treg
